* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Arial;
    background-color: #dadada;
}

header {
    background-color: #3c9eaf;
    color: #2D6975;
    border-bottom: 5px solid #2D6975;
}

.header-container { 
    display: inline-block;
    background-color: #4FCCE3;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 50px;
    padding-bottom: 50px;
}

header h1 {
    font-size: 3em;
}

header p {
    font-size: 1.5em;
}

.nav-top {
    position: absolute;
    padding-top: 20px;
    display: block;
    margin-top: -50px;
    margin-left: 15%;
}

.nav-top ul {
    border-radius: 50px;
    width: 400px;
    background-color: #2D6975;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 50px;
    padding: 20px;
}

.nav-top ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.body-container {
    display: inline-block;
    background-color: #ffffff;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 50px;
    padding-bottom: 50px;
}

.quem-sou {
    margin-top: 5%;
}

.quem-sou h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.quem-sou p {
    margin-bottom: 10px;
}

img {
    float: right;
    width: 200px;
    height: 200px;
}

.contactos {
    margin-top: 100px;
}

.contactos hr {
    border: none;
    height: 3px;
    background-color: #2D6975;
}

.contactos h1 {
    margin-top: 5%;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.contactos-container {
    margin-bottom: 30px;
    padding: 15px;
}

.contactos-container legend {
    margin-bottom: 20px;
}

.contactos-container p {
    margin-left: 10px;
    margin-bottom: 20px;
}

.contactos-container button {
    margin-left: 88%;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #4FCCE3;
    font-weight: bolder;
}

.links hr {
    border: none;
    height: 3px;
    background-color: #2D6975;
}

.links h1 {
    margin-top: 5%;    
    font-size: 1.5em;
    margin-bottom: 5px;
}

.links-container {
    margin-left: 15px;
}

.links-container li a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: gray;
    margin-top: 3.5%;
}

.nav-bottom {
    padding-top: 10px;
    display: block;
    margin-top: -50px;
}

.nav-bottom ul {
    list-style-type: none;
    display: flex;
    justify-content: left;
    gap: 20px;
    padding: 20px;
    margin-left: 15%;
}

.nav-bottom ul li a {
    color: white;
    text-decoration: underline;
    font-size: 1em;
}